 body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.img-sec {
    height: 150vh;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.t {
    height: 25%;
    width: 30%;
    border: 5px solid black;
    overflow: hidden;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); */
    
}

img {
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
img:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
    .img-sec {
        height: auto; 
        width: 100%;
        padding: 20px; 
    }

    .t {
        width: 45%; 
        margin-bottom: 30px; 
    }
}

@media only screen and (max-width: 480px) {
    .t {
        width: 90%; 
        margin-bottom: 20px; 
    }
} 
/* 
body, html {
    padding: 0;
    margin: 0;
}
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-sec {
    height: 150vh;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.t {
    overflow: hidden;
    height: 15rem;
    width: 30%;
    border: 5px solid black;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    margin-left: 2%;
}

img {
    margin: 10%;
}

img:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
    .img-sec {
        height: auto; 
        width: 100%;
        padding: 20px; 
    }

    .t {
        width: 45%; 
        margin-bottom: 30px; 
    }
}

@media only screen and (max-width: 480px) {
    .t {
        width: 90%; 
        margin-bottom: 20px; 
    }
} */
